{% extends "base.html" %}
{% block content %}
<h2>Files for Project: {{ project.title }}</h2>
<table>
    <tr>
        <th>File</th>
        <th>Description</th>
        <th>Uploaded By</th>
        <th>Uploaded At</th>
        <th>Actions</th>
    </tr>
    {% for file in files %}
    <tr>
        <td>{{ file.file.name.split('/')|last }}</td>
        <td>{{ file.description }}</td>
        <td>{{ file.uploaded_by.username }}</td>
        <td>{{ file.uploaded_at }}</td>
        <td>
            <a href="{% url 'download_file' file.id %}">Download</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'upload_file' project.id %}">Upload New File</a>
{% endblock %}
