{% extends "shared/base.html" %}

{% block title %}داشبورد -  پی.آر{% endblock %}

{% block content %}
    <div class="container">
        <div class="dashboard-container">
            <h2>به داشبورد خود خوش آمدید</h2>
            <div class="dashboard-links">
                <div class="dashboard-card">
                    <i class="fas fa-plus-circle"></i>
                    <h3>درخواست پروژه جدید</h3>
                    <p>پروژه جدید خود را ثبت کنید و با متخصصان ما در ارتباط باشید</p>
                    <a href="/requests/create/" class="btn-dashboard">ثبت درخواست</a>
                </div>
                <div class="dashboard-card">
                    <i class="fas fa-list"></i>
                    <h3>لیست پروژه‌ها</h3>
                    <p>مشاهده و پیگیری وضعیت پروژه‌های فعال و تکمیل شده</p>
                    <a href="/requests/list/" class="btn-dashboard">مشاهده لیست</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}